#main_bt{
  background-color: rgba(4, 250, 238, 0.767);
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
  font-weight: 1000;
  color: white;
  cursor: pointer;
  border-color: aliceblue;
  }
  #inp{
      width: auto;
      height: fit-content;
      text-align: center;
      align-items: center;
      align-self: center;
      color:rgb(0, 255, 242) ;
  }
 .main{
  text-align: center;
  align-items: center;
  align-self: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  vertical-align: middle;
  display: flex;
  background-color: rgba(4, 250, 238, 0.384);

 }
 div{
  margin:auto;
  position: absolute;
  top: 10%; left: 44%;
  border-radius: 0.5rem;
  color: rgb(0, 255, 242);
 }

 body{
  background-image: url(pic.jpg);
  background-size: cover;
 }

 
 #name{
  border-radius: 0.5rem;
 }
 #surname{
  border-radius: 0.5rem;
 }
 #dob{
  border-radius: 0.5rem;
 }
 #city{
  border-radius: 0.5rem;
 }
 #country{
  border-radius: 0.5rem;
 }